.filterElements {
  float: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgb(28, 98, 179);
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}
.show {
  display: block;
}
.container {
  margin-top: 20px;
  overflow: hidden;
}
.btn {
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  outline: none;
  padding: 12px 16px;
  background-color: #d6e5ec;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(157, 209, 211);
}
.btn.active {
  background-color: rgb(34, 95, 228);
  color: white;
}
